<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>React App</title>
</head>
<body>
<div id="react-app"></div>

{% block javascripts %}
    {% include 'components/react_refresh.html.twig' %}
{% endblock %}

{# Always try to load from Vite #}
<script type="module" src="http://localhost:3000/assets/src/main.tsx"></script>
</body>
</html>
